<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Display Author -->
    <h1>{{ author_info.first_name }} {{ author_info.last_name }}</h1>
    <h2>ID: {{ author_info.id }} </h2>
    <h2>Notes:</h2>
    <p>{{ author_info.notes }}</p>
    <h2>Books</h2>
    {% for book in author_info.books.all %}
        <p>{{ book.title }}</p>
    {% endfor %}
    <form action="/adding_book_to_author" method="post">
        {% csrf_token %}
    <input type="hidden" value="{{ author_info.id }}" name="author_id">
    <select name="book_id">
        {% for book in all_books %}
            <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add</button>
    </form>
</body>
</html>